<div id="notify" class="do-show bottom-left gtm-eh-track-product-click">
    <div id="trustpilot-notification" class="trustpilot-widget" data-locale="fr-FR" data-template-id="5613c9cde69ddc09340c6beb" data-businessunit-id="{{ businessUnitId }}" data-style-height="100%" data-style-width="100%" data-theme="light">
        <a href="https://fr.trustpilot.com/review/{{ businessPageName }}" target="_blank" rel="noopener">Trustpilot</a>
    </div>
</div>
