<span id="notification-url" data-url="{{ path('fmdd_notification_random') }}" style="display: none"></span>
{% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/fmddsyliusmarketingplugin/assets/shop/js/notification.js'} %}
